
body {
  font: 16px sans-serif;
}

.g-hed {
text-align: left;
text-transform: uppercase;
font-weight: bold;
font-size:22px; 
margin: 3px 0;
}

.g-source-bold {
text-align: left;
font-size:10px;
font-weight: bold; 
}

.g-source {
margin: 10px 0;
}

.g-source-bold {
text-align: left;
font-size:10px; 
}

.g-intro {
font-size: 16px;
margin: 0px 0px 10px 0px;
}

.g-labels {
font-family: 'Proxima-Nova', sans-serif;
fill: white;
font-weight: bold;
font-size: 14px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #8ba5be;
  stroke-width: 1.5px;
}

.dot {
  fill:none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 45px;	
    color: #fff;				
    height: 20px;					
    padding: 1px;				
    font: 14px sans-serif;		
    background: #272822;	
    border: 0px;		
    border-radius: 2px;			
    pointer-events: none;			
}
g text {
    font-size: 12px;
}
.x.axis1 .tick:first-child text{
    display: none;
}
.x.axis2 .tick:nth-last-child() text{
    display: none;
}
