#bigtitle {
font-size: 30px;
margin-left: 550px;
margin-bottom: 10px;
margin-top: 10px;
}
#main {
  font: 10px sans-serif;
}
#buttons {
font-size:15px;
margin-left: 370px;
}

.hover {
  text-align: center;
  
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: black	;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;

} 	

h4 {
  text-align: center;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
#main {
  width: 1300px;
}
#box {
  margin-left: 260px;
}
#chart1 {
position: relative;
border-style: solid;
border-width: 2px;
border-color: #CCC;
border-collapse: collapse;
height: 320px;
width: 800px;
float: left;
}
#chart2 {
position: relative;
border-style: solid;
border-width: 2px;
border-color: #CCC;
border-collapse: collapse;
height: 320px;
width: 800px;
float: left;
}
#chart3 {
position: relative;
border-style: solid;
border-width: 2px;
border-color: #CCC;
border-collapse: collapse;
height: 320px;
width: 800px;
float: left;
}
#chart4 {
position: relative;
border-style: solid;
border-width: 2px;
border-color: #CCC;
border-collapse: collapse;
height: 320px;
width: 800px;
float: left;
}
#chart5 {
position: relative;
border-style: solid;
border-width: 2px;
border-color: #CCC;
border-collapse: collapse;
height: 320px;
width: 800px;
float: left;
}
#chart6 {
position: relative;
border-style: solid;
border-width: 2px;
border-color: #CCC;
border-collapse: collapse;
height: 320px;
width: 800px;
float: left;
}
